body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFD7AA;
  }
  
  /* Header styles */
  header {
    background-color: #3366CC;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 0;
  }
  
  #controls {
    text-align: center;
  }
  
  #country {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  #lookup {
    padding: 5px 10px;
    background-color: #008000; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #lookupCities { 
    padding: 5px 10px;
    background-color: #0099FF; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin: 20px;
  }
  
  